<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Payment</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>

    <script src="js/main.js"></script>

    <style>

    .invalid-hint {
        display: hidden;
        margin-top: 0.3rem;
        color: red;
        font-size: 13px;
    }
    .invalid input[type="text"] {
        border-color: red;
    }

    .invalid .invalid-hint {
        display: block;
    }

    div.payment_method {
        margin: 1rem 0.5rem;
    }

    div.des {
        font-size: 13px;
        color: #777;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Naive Payment Gateway</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Create Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/check_payment">Check Payment</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class="container">
        <p></p>
        <!-- OK, just a vertical spacebar-->
        <h2>Create Payment</h2>
        <p></p>
        <div class="card">
            <div class="card-body" id="customer_info">
                <h5 style="color: #666;">Customer Info</h5>
                <form>
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-4" :class="{invalid: !first_name.valid}">
                            <input type="text" class="form-control" id="first_name" v-model="first_name.data" placeholder="First Name">
                            <div class="invalid-hint">{{ first_name.v_hint }}</div>
                        </div>

                        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-4" :class="{invalid: !last_name.valid}">
                            <input type="text" class="form-control" id="last_name" v-model="last_name.data" placeholder="Last Name">
                            <div class="invalid-hint">{{ last_name.v_hint }}</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-5" :class="{invalid: !phone_number.valid}">
                            <div class="input-group">
                                <div class="input-group-btn" id="country_code_btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" :data-country-value="country_code" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ country_code_text }}
                                    </button>
                                    <div class="dropdown-menu" style="overflow: auto; height: 30em;">
                                        <a class="dropdown-item" href="#" data-countryCode="HK" value="852" selected>Hong Kong (+852)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CN" value="86">China (+86)</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-countryCode="DZ" value="213">Algeria (+213)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AD" value="376">Andorra (+376)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AO" value="244">Angola (+244)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AI" value="1264">Anguilla (+1264)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AR" value="54">Argentina (+54)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AM" value="374">Armenia (+374)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AW" value="297">Aruba (+297)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AU" value="61">Australia (+61)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AT" value="43">Austria (+43)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AZ" value="994">Azerbaijan (+994)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BS" value="1242">Bahamas (+1242)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BH" value="973">Bahrain (+973)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BD" value="880">Bangladesh (+880)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BB" value="1246">Barbados (+1246)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BY" value="375">Belarus (+375)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BE" value="32">Belgium (+32)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BZ" value="501">Belize (+501)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BJ" value="229">Benin (+229)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BM" value="1441">Bermuda (+1441)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BT" value="975">Bhutan (+975)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BO" value="591">Bolivia (+591)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BW" value="267">Botswana (+267)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BR" value="55">Brazil (+55)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BN" value="673">Brunei (+673)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BG" value="359">Bulgaria (+359)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BF" value="226">Burkina Faso (+226)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="BI" value="257">Burundi (+257)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KH" value="855">Cambodia (+855)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CM" value="237">Cameroon (+237)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CA" value="1">Canada (+1)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CV" value="238">Cape Verde Islands (+238)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KY" value="1345">Cayman Islands (+1345)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CF" value="236">Central African Republic (+236)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CL" value="56">Chile (+56)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CN" value="86">China (+86)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CO" value="57">Colombia (+57)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KM" value="269">Comoros (+269)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CG" value="242">Congo (+242)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CK" value="682">Cook Islands (+682)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CR" value="506">Costa Rica (+506)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="HR" value="385">Croatia (+385)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CU" value="53">Cuba (+53)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CY" value="90392">Cyprus North (+90392)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CY" value="357">Cyprus South (+357)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CZ" value="42">Czech Republic (+42)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="DK" value="45">Denmark (+45)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="DJ" value="253">Djibouti (+253)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="DM" value="1809">Dominica (+1809)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="DO" value="1809">Dominican Republic (+1809)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="EC" value="593">Ecuador (+593)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="EG" value="20">Egypt (+20)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SV" value="503">El Salvador (+503)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GQ" value="240">Equatorial Guinea (+240)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ER" value="291">Eritrea (+291)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="EE" value="372">Estonia (+372)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ET" value="251">Ethiopia (+251)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FK" value="500">Falkland Islands (+500)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FO" value="298">Faroe Islands (+298)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FJ" value="679">Fiji (+679)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FI" value="358">Finland (+358)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FR" value="33">France (+33)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GF" value="594">French Guiana (+594)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PF" value="689">French Polynesia (+689)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GA" value="241">Gabon (+241)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GM" value="220">Gambia (+220)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GE" value="7880">Georgia (+7880)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="DE" value="49">Germany (+49)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GH" value="233">Ghana (+233)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GI" value="350">Gibraltar (+350)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GR" value="30">Greece (+30)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GL" value="299">Greenland (+299)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GD" value="1473">Grenada (+1473)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GP" value="590">Guadeloupe (+590)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GU" value="671">Guam (+671)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GT" value="502">Guatemala (+502)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GN" value="224">Guinea (+224)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GW" value="245">Guinea - Bissau (+245)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GY" value="592">Guyana (+592)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="HT" value="509">Haiti (+509)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="HN" value="504">Honduras (+504)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="HK" value="852">Hong Kong (+852)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="HU" value="36">Hungary (+36)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IS" value="354">Iceland (+354)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IN" value="91">India (+91)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ID" value="62">Indonesia (+62)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IR" value="98">Iran (+98)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IQ" value="964">Iraq (+964)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IE" value="353">Ireland (+353)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IL" value="972">Israel (+972)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="IT" value="39">Italy (+39)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="JM" value="1876">Jamaica (+1876)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="JP" value="81">Japan (+81)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="JO" value="962">Jordan (+962)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KZ" value="7">Kazakhstan (+7)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KE" value="254">Kenya (+254)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KI" value="686">Kiribati (+686)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KP" value="850">Korea North (+850)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KR" value="82">Korea South (+82)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KW" value="965">Kuwait (+965)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KG" value="996">Kyrgyzstan (+996)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LA" value="856">Laos (+856)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LV" value="371">Latvia (+371)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LB" value="961">Lebanon (+961)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LS" value="266">Lesotho (+266)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LR" value="231">Liberia (+231)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LY" value="218">Libya (+218)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LI" value="417">Liechtenstein (+417)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LT" value="370">Lithuania (+370)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LU" value="352">Luxembourg (+352)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MO" value="853">Macao (+853)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MK" value="389">Macedonia (+389)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MG" value="261">Madagascar (+261)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MW" value="265">Malawi (+265)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MY" value="60">Malaysia (+60)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MV" value="960">Maldives (+960)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ML" value="223">Mali (+223)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MT" value="356">Malta (+356)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MH" value="692">Marshall Islands (+692)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MQ" value="596">Martinique (+596)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MR" value="222">Mauritania (+222)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="YT" value="269">Mayotte (+269)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MX" value="52">Mexico (+52)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="FM" value="691">Micronesia (+691)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MD" value="373">Moldova (+373)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MC" value="377">Monaco (+377)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MN" value="976">Mongolia (+976)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MS" value="1664">Montserrat (+1664)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MA" value="212">Morocco (+212)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MZ" value="258">Mozambique (+258)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="MN" value="95">Myanmar (+95)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NA" value="264">Namibia (+264)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NR" value="674">Nauru (+674)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NP" value="977">Nepal (+977)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NL" value="31">Netherlands (+31)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NC" value="687">New Caledonia (+687)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NZ" value="64">New Zealand (+64)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NI" value="505">Nicaragua (+505)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NE" value="227">Niger (+227)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NG" value="234">Nigeria (+234)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NU" value="683">Niue (+683)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NF" value="672">Norfolk Islands (+672)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NP" value="670">Northern Marianas (+670)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="NO" value="47">Norway (+47)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="OM" value="968">Oman (+968)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PW" value="680">Palau (+680)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PA" value="507">Panama (+507)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PG" value="675">Papua New Guinea (+675)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PY" value="595">Paraguay (+595)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PE" value="51">Peru (+51)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PH" value="63">Philippines (+63)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PL" value="48">Poland (+48)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PT" value="351">Portugal (+351)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="PR" value="1787">Puerto Rico (+1787)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="QA" value="974">Qatar (+974)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="RE" value="262">Reunion (+262)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="RO" value="40">Romania (+40)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="RU" value="7">Russia (+7)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="RW" value="250">Rwanda (+250)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SM" value="378">San Marino (+378)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SA" value="966">Saudi Arabia (+966)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SN" value="221">Senegal (+221)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CS" value="381">Serbia (+381)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SC" value="248">Seychelles (+248)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SL" value="232">Sierra Leone (+232)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SG" value="65">Singapore (+65)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SK" value="421">Slovak Republic (+421)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SI" value="386">Slovenia (+386)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SB" value="677">Solomon Islands (+677)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SO" value="252">Somalia (+252)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ZA" value="27">South Africa (+27)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ES" value="34">Spain (+34)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="LK" value="94">Sri Lanka (+94)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SH" value="290">St. Helena (+290)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="KN" value="1869">St. Kitts (+1869)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SC" value="1758">St. Lucia (+1758)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SD" value="249">Sudan (+249)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SR" value="597">Suriname (+597)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SZ" value="268">Swaziland (+268)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SE" value="46">Sweden (+46)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="CH" value="41">Switzerland (+41)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="SI" value="963">Syria (+963)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TW" value="886">Taiwan (+886)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TJ" value="7">Tajikstan (+7)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TH" value="66">Thailand (+66)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TG" value="228">Togo (+228)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TO" value="676">Tonga (+676)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TN" value="216">Tunisia (+216)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TR" value="90">Turkey (+90)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TM" value="7">Turkmenistan (+7)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TM" value="993">Turkmenistan (+993)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="TV" value="688">Tuvalu (+688)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="UG" value="256">Uganda (+256)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="GB" value="44">UK (+44)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="UA" value="380">Ukraine (+380)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="AE" value="971">United Arab Emirates (+971)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="UY" value="598">Uruguay (+598)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="US" value="1">USA (+1)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="UZ" value="7">Uzbekistan (+7)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VU" value="678">Vanuatu (+678)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VA" value="379">Vatican City (+379)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VE" value="58">Venezuela (+58)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VN" value="84">Vietnam (+84)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VG" value="84">Virgin Islands - British (+1284)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="VI" value="84">Virgin Islands - US (+1340)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="YE" value="969">Yemen (North)(+969)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="YE" value="967">Yemen (South)(+967)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ZM" value="260">Zambia (+260)</a>
                                        <a class="dropdown-item" href="#" data-countryCode="ZW" value="263">Zimbabwe (+263)</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Phone number" v-model="phone_number.data">
                            </div>
                            <div class="invalid-hint">{{ phone_number.v_hint }}</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-4" :class="{invalid: !price.valid}">
                            <div class="input-group">
                                <div class="input-group-btn" id="price_btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{currency}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">HKD</a>
                                        <a class="dropdown-item" href="#">USD</a>
                                        <a class="dropdown-item" href="#">AUD</a>
                                        <a class="dropdown-item" href="#">EUR</a>
                                        <a class="dropdown-item" href="#">JPY</a>
                                        <a class="dropdown-item" href="#">CNY</a>                                        
                                    </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Amount" v-model="price.data">
                            </div>
                            <div class="invalid-hint">{{ price.v_hint }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="credit_card_info">

            <div class="payment_method">
                <div data-method="braintree" v-if="payment_method == 'braintree'">
                    <div class="row">
                        <label for="" class="col-sm-2 col-form-label"><i>Payment Method:</i></label>
                        <img src="/img/bt-logo.png" alt="" style="height: 18px; margin-top: 8px; margin-left: -10px;">
                    </div>
                    <div class="des">Please fill your Credit Card information in the following form:</div>
                </div>
                
                <div data-method="paypal" v-if="payment_method == 'paypal'">
                    <div class="row">
                        <label for="" class="col-sm-2 col-form-label"><i>Payment Method:</i></label>
                        <img src="/img/paypal-logo.png" alt="" style="height: 18px; margin-top: 11px; margin-left: -10px;">
                    </div>
                    <div class="des">Notice: after clicking "Submit", Paypal Payment Form will popup and you should finish this transaction there.</div>
                </div>
            </div>

            <div class="card" v-if="payment_method == 'braintree'">
                <div class="card-body">
                    <h5 style="color: #666;">Credit Card Info</h5>

                    <form>
                        <div class="form-group row">
                            <label for="holder_name" class="col-sm-2 col-form-label">Card Holder Name</label>
                            <div class="col-sm-5" :class="{invalid: !holder_name.valid }">
                                <input type="text" class="form-control" id="holder_name" v-model="holder_name.data" placeholder="Same as name on credit card">
                                <div class="invalid-hint">{{ holder_name.v_hint }}</div>
                            </div>    
                        </div>
                        
                        <div class="form-group row">
                            <label for="card_number" class="col-sm-2 col-form-label">Card Number</label>
                            <div class="col-sm-5" :class="{invalid: !card_number.valid }">
                                <input type="text" class="form-control" id="card_number" v-model="card_number.data" placeholder="13-18 digits">
                                <div class="invalid-hint">{{ card_number.v_hint }}</div>
                            </div>    
                        </div>

                        <div class="form-group row">
                            <label for="expire" class="col-sm-2 col-form-label">Expire at</label>
                            <div class="col-sm-5">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{expire_month.data}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" v-for="item in valid_months" @click="change_month(item)">{{item}}</a>
                                    </div>
                                </div>
                                <span style="margin-left: 0.5rem; margin-right: 0.5rem; "> / </span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{expire_year.data}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" v-for="item in valid_years" @click="change_year(item)">{{item}}</a>
                                    </div>
                                </div>
                                <div :class="{invalid: !expire_month.valid}">
                                    <div class="invalid-hint">{{expire_month.v_hint}}</div>
                                </div>
                                <div :class="{invalid: !expire_year.valid}">
                                    <div class="invalid-hint">{{expire_year.v_hint}}</div>
                                </div>
                            </div>    
                        </div>

                        <div class="form-group row">
                            <label for="expire" class="col-sm-2 col-form-label">CCV 
                                <sup><span class="oi oi-info" style="color: blue; cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Usually CCV is located in your credit card's B side."></span></sup>
                            </label>
                            <div class="col-sm-2" :class="{invalid: !security_code.valid }">
                                <input type="text" class="form-control" id="expire" v-model="security_code.data" placeholder="3~4 digits">
                                <div class="invalid-hint">{{ security_code.v_hint }}</div>
                            </div>    
                        </div>
                    </form>
                </div>
            </div>

        </div>
        
        <p></p>
        <div class="card" style="border: none;">
            <div class="card-body">
                <div id="submit_button_div">
                    <button v-if="state == 'ready'" class="btn btn-primary" @click="submit_payment">Submit</button>
                    <button v-if="state == 'processing'"  class="btn btn-secondary" @click="submit_payment" disabled>Processing...</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id=""> 
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="redirect">Get it!</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>